/*CSS RESET START*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS RESET END*/



/*COLOR VARIABLES START*/
:root {
    --background-color-light-gray: #FAFAFC;
    --background-color-white: white;
    --button-background-color: gray;
    --dark-gray-text-color: #45525B;
    --light-gray-text-color: #6F7278;
    --navigation-background: #292C32;
    --dark-button: #3A4443;
    --main-style-color: #FF8A63;
}

/*COLOR VARIABLES END*/



/*COMMONT STYLES START*/
img {
    display: block;
}

body {
    font-family: 'Montserrat';
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.main_text {
    display: block;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--main-style-color);
}

.sub_text {
    display: block;
    font-size: 36px;
    line-height: 43px;
    color: var(--dark-gray-text-color);
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 100px 0;
}

@media (max-width: 960px) {
    .container {
        width: 95%;
        padding: 50px 0;
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 25px 0;
    }
}


/*COMMONT STYLES END*/