.current_listings {
    width: 100%;
    background: #FAFAFC;

}


.current_listings_description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #6F7278;
}

.text_left {
    display: block;
    text-align: inherit;
    margin-left: 136px;
}

.sub_text {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
    margin-bottom: 11px;
    margin-left: 136px;
}

.text_margin {
    padding-top: 99px;
}

.current_listings_gallary {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.flex_line {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.current_listings_item_description {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 10px 10px;

}



.gallary_text_type {
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.gallary_text_place {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 11px;
}

.gallery_info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;

}

.gallery_info_datailes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.gallery_info_item {
    display: flex;
    flex-direction: row;
    gap: 9px;
    padding-bottom: 24px;
}

.link-to {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #45525B;
    text-decoration: none;
    text-align: center;
    margin-top: 26px;
    padding-bottom: 101px;
}

.arrow-span {
    font-weight: 700;

}