.newsroom {
    width: 100%;
    padding: 100px 0;
    background-color: #FAFAFC;
}

.newsroom_wrapper {
    width: 80%;
    margin: 0 auto;
}

.center_text {
    text-align: center;
    padding-bottom: 23px;
}

.newsroom__content {
    display: flex;
    justify-content: flex-start;
    gap: 20px
}

.newsroom__content_item {
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.newsroom__content_img_wrapper {
    width: 100%;
}

.newsroom__content_img {
    width: 100%;
}


.newsroom__content_type {
    display: block;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
    padding: 30px 30px 8px;
}

.newsroom__content_name {
    display: block;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 19px;
    color: #45525B;
    padding: 0 30px 10px;
}

.newsroom__content_date {
    display: block;
    font-family: 'Montserrat';
    font-size: 13px;
    line-height: 20px;
    color: #6F7278;
    padding: 0 30px 30px;
}

.newsroom__link_wrapper {
    display: block;
    text-align: center;
    padding: 26px 26px;
}

.newsroom__link {
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 15px;
    line-height: 21px;
    text-decoration: none;
}

.newsroom__link:hover {
    padding: 10px 10px;
    background-color: gray;
    color: white;
    transition: 0.5s;
    border-radius: 15px;
}

@media (max-width: 860px) {
    .newsroom {
        padding: 20px;
    }

    .newsroom__content {
        flex-direction: column;
        align-items: center;
    }

    .newsroom__content_item {
        width: calc(100% - 20px);
    }
}