.newsroom {
    width: 100%;
    background-color: #FAFAFC;
}

.center_text {
    text-align: center;
    padding-bottom: 23px;
}

.newsroom__content {
    display: flex;
    justify-content: flex-start;
    gap: 20px
}

.newsroom__content_item {

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    height: 90%;
}

.newsroom__content_img_wrapper {
    padding-bottom: 58%;
    position: relative;
}

.newsroom__content_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


.newsroom__content_type {
    display: block;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
    padding: 30px 30px 8px;
}

.newsroom__content_name {
    display: block;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 19px;
    color: #45525B;
    padding: 0 30px 10px;
}

.newsroom__content_date {
    display: block;
    font-family: 'Montserrat';
    font-size: 13px;
    line-height: 20px;
    color: #6F7278;
    padding: 0 30px 30px;
}


.swiper-pagination-bullet {
    background-color: #FF8A63;
}

.swiper-wrapper {
    padding-bottom: 60px;
}