.our_goal {
    background-color: #FAFAFC;
}

.our_goal_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    gap: 8px;
    padding: 100px 0;

}

.our_goal_left_side_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.our_goal_text1 {
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    color: #FF8A63;
}

.our_goal_text2 {
    font-family: 'Montserrat';
    font-size: 48px;
    line-height: 53px;
    color: #45525B;
}

.our_goal_right_side_wrapper {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.our_goa_right_text1 {
    font-family: 'Montserrat';
    line-height: 22px;
    color: #333333;
}

.person_wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.person_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person_name {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}

.person_position {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    color: #6F7278;
}

.person_photo_wrapper {
    width: 80px;
    height: 80px;
    border: #CACCD1 2px solid;
    border-radius: 50%;
}

.person_photo {
    width: 100%;
    border-radius: 50%;
}

@media (max-width: 960px) {
    .our_goal_wrapper {
        grid-template-columns: 1fr;
    }

    .our_goal_text2 {
        font-size: 30px;
        line-height: 30px;
    }
}