.our_goal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #FAFAFC;
    margin-top: -40px;
}

.our_goal_left_side_wrapper {
    display: flex;
    flex-direction: column;
    height: 486px;
    justify-content: center;
    margin-left: 136px;
    margin-right: 85px;

}

.our_goal_text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}

.our_goal_text2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #45525B;
    width: 491px;
}

.our_goal_right_side_wrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.our_goa_right_text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.person_wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.person_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}

.person_position {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}